.paragraph{
        
    font-size: var(--body-font-size);
    @include media(medium){
        width:60%;
        margin-left:auto;
        margin-right: auto;
    }
} 

[class="workflow-img"]{
    width:60px;
    
}
[src^="/images/logo-"]{
    width:200px;
    display: block;
    padding:3rem 2rem;
    margin: auto;
}

[class="footer-icons"]{
    width:20px;
}
.footer-logo{
    width:300px;
    display: block;
    margin:0 auto;
}