.footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &-logo{
        width: 3rem;
        margin-bottom:1rem;
    }

    &-nav, &-nav ul{
        margin-bottom: 1rem;
    }
    &-nav ul li{
        color:var(--Dark-Grayish-Blue);
        font-weight: 500;
    }
    &-nav ul li:hover{
        color:var(--Strong-Cyan);
    }
    
    @include media(large){
          
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 3fr 1fr;
        &-nav{
            display: grid;
            grid-template-columns: repeat(3, 200px);
            justify-content: flex-start;
        }
        &-icon{
            display: grid;
            grid-template-columns:repeat(3,50px);
        }
    }
}