    .header{
    text-align: center;
    &-logo{
        width:150px;
        display:block;
        margin:3rem auto 2rem;
    }
    &-title{
        font-size: var(--h1-font-size);
        font-weight: 600;
    }

    
}
