
.l-container {
    max-width    : 1200px;
    padding-left : $padding;
    padding-right: $padding;
 
    @include media(large){
        margin-left : auto;
        margin-right: auto;
    }
    
}

.access-information{
    @include media(large){
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

.access-logo{
    display: grid;
    justify-content: center;
    align-items: space-between;
    grid-template: 1fr;
    @include media(medium){
          grid-template-columns: repeat(2,1fr);
    }
    @include media(large){
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
}
.center-responsive{
    text-align: center ;
    @include media(large){
        text-align: left;
    }   
}
.center{
    text-align: center;
}
.mb-1{
    @include mb(1rem)
}

.mb-2{
    @include mb(2rem);
}

.mb-separation{
    @include mb(4rem);
}